.txtarea {
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    height: auto;
    min-height: 52px;
    line-height: 1.5;
    vertical-align: bottom;
    font-size: 14px;
    padding: 4px 11px;
    resize: none;
    tab-size: 4;
}
.txtarea:selection {
    color: #fff;
    background: #fff;
}
.txtarea:focus{
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
    box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
}
.txtarea:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
}


.container__editor {
    font-size: 12px;
    font-variant-ligatures: common-ligatures;
    background-color: #fafafa;
    border-radius: 3px;
}
  
.container__editor textarea {
  outline: 0;
}

.container_editor_area {
  tab-size: 4ch;
  max-height: 400px;
  overflow: auto;
  margin: 1.67em 0;
}